<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <font color="blue">{{output}}</font>
    <form action="/task/interviewregistraion/" method="post">
        <table>
            <tr>
                <td><font color="red">*</font></td>
                <td><input type="text" name="name" placeholder="Enter Your name" required/></td>
            </tr>
            <tr>
                <td><font color="red">*</font></td>
                <td><input type="email" name="email" placeholder="Enter Your Email" required/></td>
            </tr>
            <tr>
                <td><font color="red">*</font></td>
                <td><input type="text" name="phone1" placeholder="Enter Your Mobile Number" required/></td>
            </tr>
            <tr>
                <td><font color="red"></font></td>
                <td><input type="text" name="phone2" placeholder="Enter Another Mobile Number"></td>
            </tr>
            <tr>
                <td><font color="red"></font></td>
                <td><textarea name="address" cols="10" rows="3"></textarea></td>
            </tr>
            <tr>
                <td><font color="red"></font></td>
                <td>
                    <input type="radio" name="gender" value="m" checked/>Male &nbsp;&nbsp;
                    <input type="radio" name="gender" value="f" />Female &nbsp;&nbsp;
                    <input type="radio" name="gender" value="o" />Female
                </td>
            </tr>
            <tr>
                <td><font color="red">*</font></td>
                <td>
                    <select name="profile">
                        <option value="">Select Profile</option>
                        <option value="python">Python Developer</option>
                        <option value="react">React Developer</option>
                        <option value="HR">Human Resource</option>
                        <option value="BDE">Business Development Executive</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><font color="red">*</font></td>
                <td>
                    <select name="source">
                        <option value="">Select Source</option>
                        <option value="in">Linkedin</option>
                        <option value="indeed">Indeed</option>
                        <option value="apna">Apna</option>
                        <option value="naukri">Naukri</option>
                        <option value="ref">Reffrence</option>
                        <option value="social">Social Media</option>
                        <option value="other">Other</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>